body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3A3B3C;  
    width: 100%;
    height: 75px;
    align-items: center;
}

h1 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cyan;
    color: #3A3B3C;
    font-size: 40px;
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}
/*Navigation bar created in a horizontal format using the flex property while setting the list-style-type value to none.*/
.navBar ul{
    list-style-type: none;
    display: flex;
    margin: 50px;
    
}
.navBar ul li{ 
    padding: 15px;
    
}
.navBar ul li a {
    color: cyan;
    text-decoration: none;
    border-bottom: cyan solid 3px;
    padding: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}
 
.subtitle{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../images/Wood-Wall.png");
    height: 200px;
    width: 100%;
    margin: 0px;
}

.subtitle h2{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3A3B3C; 
    font-size: 15px;
    height: 70px;
    width: 25%;
    margin-right: 150px;
    margin-bottom: 30px;
    padding: 2px;
}

.container1 {
    display: flex;
    height: 150px;
    margin-top: 2rem;
}


.individualRow {
    display: flex;
    justify-content: flex-end;
    border-right:#282e80 solid 3px;
    width: 20%;
}
.sidebar {
    padding-right: 1rem; 
    margin-top: .5rem; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: #282e80; 
    text-align: right;
}


.myInfoDescription{
    display: flex;
    width: 75%;
}
.personalImage{
    height: 145px;
    margin-left: 30px;
    margin-right: 20px;
}

.myInfoDescription p {
    margin: .25rem;
    line-height: 1.25;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282e80;
}

.container2 {
    display: flex;
    height: 800px;
    margin-top: 2rem;
}

.workProjects {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.workImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: flex-start;
    justify-content: space-between;
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

#music{
    height: 375px;
    width: 100%;
    margin-left: 20px;
    margin-top: .5rem;
    
}
/*Allow project images to have text block captions. (Lines 151-181)*/
h4 {
    font-size: 150%;
    background-color: cyan;
    padding: 5px;
}

.caption a, .caption p {
    font-size: 100%;
    background-color: cyan;
    padding: 5px;
    margin: 0px;
}

.links{
    margin: 0px;
    
}

.column {
    flex: 50%;
    padding: 0 4px;
    
}
/*Each caption text box marked by same class to place text box in same spot on each image.*/
.entireImage{
    position: relative;
    text-align: left;
    color: #282e80;
}

.entireImage img{
    filter: opacity(60%);
}


/*Text on each text box identified by same class for exact positioning.*/
.caption{
    position: absolute;
    bottom: 50px;
    left: 24px;
}


.workImages img{
    height: 150px;
    width: 100%;
    margin: 20px;
    border: cyan solid 6px;
}

.container3 {
    display: flex;
    height: 140px;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.contactInfo{
    display: flex;
    width: 75%;
}

.contactInfo ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.contactInfo ul li{
    margin: 35px;
    color: #282e80;
    border-bottom: #282e80 solid 3px;
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.contactInfo ul li a{
    text-decoration: none;
    color: inherit;
}

.mainContainer{
    display: flex;
    flex-direction: column;
   
}
/*Allow webpage content to adjust to various screen sizes. (Lines 230-279)*/
@media screen and (max-width: 992px) {  
    body { 
        width: 100%;
     } 
    }

@media screen and (max-width: 768px) {  
    body { 
        width: 100%;
        } 
    }
@media screen and (max-width: 992px) {  
    .myInfoDescription p { 
        line-height: 1;
        } 
    }

@media screen and (max-width: 768px) {  
    .myInfoDescription p { 
        font-size: 88%;
        } 
    }

@media screen and (max-width: 992px) {  
    .contactInfo ul li{ 
        padding: 4px;
        margin: 25px;
        } 
    }

@media screen and (max-width: 768px) {  
    .contactInfo ul { 
        flex-direction: row;
        flex-wrap: wrap;
        } 
    }

@media screen and (max-width: 768px) {  
    .contactInfo ul li { 
        padding: 8px;
        margin: 8.60px;
        text-align: center;
        } 
    }

@media screen and (max-width: 768px) {  
    .subtitle h2{ 
       font-size: 80%;
        }
    }