body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3A3B3C;  
    width: 100%;
    height: 75px;
    align-items: center;
}

h1 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cyan;
    color: #3A3B3C;
    font-size: 40px;
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}


.navBar ul{
    list-style-type: none;
    display: flex;
    margin: 50px;
    
}
.navBar ul li{ 
    padding: 15px;
    
}
.navBar ul li a {
    color: cyan;
    text-decoration: none;
    border-bottom: cyan solid 3px;
    padding: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}
 
.subtitle{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../images/Wood-Wall.png");
    height: 200px;
    width: 100%;
    margin: 0px;
}

.subtitle h2{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3A3B3C; 
    font-size: 15px;
    height: 70px;
    width: 25%;
    margin-right: 150px;
    margin-bottom: 30px;
    padding: 2px;
}

.container1 {
    display: flex;
    height: 150px;
    margin-top: 2rem;
}


.individualRow {
    display: flex;
    justify-content: flex-end;
    border-right:#282e80 solid 3px;
    width: 20%;
}
.sidebar {
    padding-right: 1rem; 
    margin-top: .5rem; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: #282e80; 
    text-align: right;
}


.myInfoDescription{
    display: flex;
    width: 75%;
}
.personalImage{
    height: 145px;
    margin-left: 30px;
    margin-right: 20px;
}

.myInfoDescription p {
    margin: .25rem;
    line-height: 1.25;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282e80;
}

.container2 {
    display: flex;
    height: 800px;
    margin-top: 2rem;
}

.workProjects {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.workImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: flex-start;
    justify-content: space-between;
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

#Horiseon{
    height: 375px;
    width: 100%;
    margin-left: 20px;
    margin-top: .5rem;
    
}

.textBlock{
    position: absolute;
    bottom: 60px;
    left: 20px;
    background-color: cyan;
    color: #282e80;
    padding-top: 7px;
    padding-left: 8px;
    height: 70px;
    width: 15%;
    line-height: 1.5;
    text-align: center;
    
}

h4 {
    font-size: 150%;
}

.column {
    flex: 50%;
    padding: 0 4px;
    position: relative;
}


.workImages img{
    height: 150px;
    width: 100%;
    margin: 20px;
    border: cyan solid 6px;
}

.container3 {
    display: flex;
    height: 140px;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.contactInfo{
    display: flex;
    width: 75%;
}

.contactInfo ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.contactInfo ul li{
    margin: 40px;
    color: #282e80;
    border-bottom: #282e80 solid 3px;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.contactInfo ul li a{
    text-decoration: none;
    color: inherit;
}


/* @media screen and (max-width: 992px) { */
    /* section { */
      /* width: 75%; */
      /* flex: 0 0 50%; */
    /* } */
/* } */